\\


body{
	margin: 0;
	padding: 0;
	/*height: 100%;
	overflow-x: hidden;
	overflow-y: scroll; 
	perspective: 1px;*/
	
}
/*body{
	margin: 0 px;
	background: #F0E68C;
	width: 100%
	height: auto;
}
/* gride 960px */
.links{
	width: 100%;
	height: 55px;
	position: fixed;
	display: flex;
}

.links label{
	padding: 15px 0;
	flex-grow: 1;
	cursor: pointer;
	transition: all .4s;
	text-align: center;
	font-size: 100%;
	color: #fff;
}

.links label{
	background-color: rgba(0,0,0, .5);
}

.scroll input{
	display: none;
}

.bloco{
	width: 100vw;
	height:100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

#home{
	background-image: url(../img/plogo2.png);
	background-color: #4169E1;
	background-size: cover;	
}

/*#sobre{
	background-color: #4B0082;
	/*margin: 450px 0px 0px;
	
}

#servicos{
	background-color: #FFD700;
	/*margin: 450px 0px 0px;
}

#nos{
	background-color: #008B8B;
	/*margin: 450px 0px 0px;*
}

#contato{
	background-color: #4682B4;
	/*margin: 450px 0px 0px;
}*/

.scroll{
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	
}
/*
.sections{
	transition: all .4s;
}

#rd_sobre:checked ~ .sections{
	margin-top: -100vh;
}
#rd_servicos:checked ~ .sections{
	margin-top: -200vh;
}
#rd_nos:checked ~ .sections{
	margin-top: -300vh;
}
#rd_contato:checked ~ .sections{
	margin-top: -400vh;
}*/

h1 {
	text-align: center;
	width: 500px;
	padding-bottom: 200px;
	padding-right: 870px;
	font-size: 230%;
	color: #ffffff;
  text-shadow: #ffffff 0px 0px 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
